[Unit]
Description={{ pythonvenvservice_description }}
After=syslog.target

[Service]
Type=simple
User={{ username }}
Group={{ username }}
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/{{ username }}/src/
ExecStart=/home/{{ username }}/src/venv/bin/python{{ python_version }} {{ script_filename }}
Restart=always

[Install]
WantedBy=multi-user.target
